{% extends 'index.html' %}

{% block title %}Story{% endblock %}
{% block name %}Story{% endblock %}

{% block includes %}
<script src="static/js/tiptap-rollup.min.js"></script>
<script type="module" src="static/js/tiptap-ming.js"></script>
{% endblock %}

{% block content %}
<div class="flex min-h-full items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-md space-y-8">
        <div id="editor-toolbar" class="grid grid-cols-6 gap-2"></div>
        <div id="editor" class="border-2 mt-1.5"></div>
    </div>
</div>
{% endblock %}